[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh/ohmyzsh/plugins/zsh-autosuggestions"]
	path = zsh/ohmyzsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/ohmyzsh/themes/powerlevel10k"]
	path = zsh/ohmyzsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "zsh/ohmyzsh/plugins/zsh-syntax-highlighting"]
	path = zsh/ohmyzsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/ohmyzsh/plugins/zsh-nvim-appname"]
	path = zsh/ohmyzsh/plugins/zsh-nvim-appname
	url = https://github.com/mehalter/zsh-nvim-appname
[submodule "nvim/NvChad"]
	path = nvim/NvChad
	url = git@github.com:rgzntrade/NvChad.git
[submodule "nvim/UP"]
	path = nvim/UP
	url = git@github.com:rgzntrade/UP.git
[submodule "nvim/LazyVim"]
	path = nvim/LazyVim
	url = https://github.com/LazyVim/LazyVim.git
